<?xml version="1.0"?>
<launch>

    <param name="use_sim_time" value="true"/>

    ## node edge map
    <include file="$(find amsl_navigation_managers)/launch/amsl_navigation_managers.launch">
        <arg name="map_path" value="$(find amsl_navigation_managers)/sample/map/sample_map2.yaml"/>
        <arg name="checkpoint_path" value="$(find amsl_navigation_managers)/sample/checkpoint/sample_checkpoint2.yaml"/>
    </include>

    ## sensor
    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>
    <node pkg="complement" type="complement" name="complement"/>
    <include file="$(find cats)/launch/robot_state.launch"/>
    <!--include file="$(find perfect_velodyne)/launch/normal_estimation.launch"/-->
    <include file="$(find velodyne_height_map)/launch/amsl_velodyne_heightmap.launch"/>
    <include file="$(find dynamic_cloud_detector)/launch/dynamic_cloud_detector.launch"/>
    <include file="$(find road_recognizer)/launch/road_recognizer.launch"/>

    ## global planner
    <include file="$(find dijkstra_global_planner)/launch/global_planner.launch"/>

    ## localization
    <include file="$(find node_edge_localizer)/launch/node_edge_localizer.launch">
        <arg name="init_yaw" value="3.14"/>
        <arg name="init_node0_id" value="1"/>
        <arg name="init_node1_id" value="2"/>
        <arg name="enable_odom_tf" value="true"/>
        <arg name="enable_tf" value="true"/>
    </include>

    ## localmap
    <include file="$(find making_local_map)/launch/making_localmap.launch"/>

    ## intersection recognition
    <!-- <include file="$(find intersection_recognition)/launch/intersection_recognition.launch"/> -->

    ## navigator
    <include file="$(find node_edge_navigator)/launch/node_edge_navigator.launch"/>

    ## local planner
    <!-- <include file="$(find state_lattice_planner)/launch/local_planner.launch"/> -->

    ####rviz####
    <node pkg="rviz" type="rviz" name="global_rviz" args="-d $(find amsl_navigation_managers)/config/node_edge_map.rviz"/>
    <node pkg="rviz" type="rviz" name="local_rviz" args="-d $(find making_local_map)/config/localmap.rviz"/>
</launch>
