<?xml version="1.0"?>

<launch>
	<!-- remove human's points  -->
	<group>	
		<include file="$(find velodyne_height_map)/launch/heightmap_nodelet.launch">
			<remap from="/velodyne_points" to="velodyne_points" />
		</include>
		
		<node name="cpu_clustering" pkg="clustering" type="cpu_clustering">
			<remap from="velodyne_obstacles" to="/static_cloud" />
		</node>
		
		<node pkg="human_detection" name="human_detection" type="test_human_detection_v2"/>
		
		<node pkg="rwrc14_remove_cluster_for_3dmap" name="human_detection" type="rwrc14_remove_cluster_for_3dmap">
			<remap from="/perfect_velodyne" to="/velodyne_points" />
		</node>
	
	<!-- remove points of ground from realsense data	 -->
	</group>
		<include file="$(find velodyne_height_map)/launch/heightmap_nodelet.launch">
			<remap from="depth_registered_pub/points" to="velodyne_points" />
			<remap from="velodyne_obstacles" to="/rm_ground/realsense" />
		</include>
	<group>
	
	</group>

</launch>
