<?xml version="1.0"?>
<launch>

    <arg name="env" default="tsukuba"/>
    <arg name="gps" default="false"/>
    <arg name="bag" default="false"/>
    <arg name="robot" default="cats"/>

    <param name="use_sim_time" value="true" if="$(arg bag)"/>
    <include file="$(eval find(robot) + '/launch/robot_state.launch')" if="$(arg bag)"/>
    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch" if="$(arg bag)"/>
    <node name="republish" pkg="image_transport" type="republish" args="compressed in:=/usb_cam/image_raw raw out:=/usb_cam/image_raw" if="$(arg bag)"/>
    <node name="republish_realsense" pkg="image_transport" type="republish" args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw" if="$(arg bag)"/>

    <!-- node edge map -->
    <include file="$(find amsl_navigation_managers)/launch/amsl_navigation_managers.launch">
        <arg name="map_path" value="$(env HOME)/rwrc19/map/$(arg env)_map.yaml"/>
        <arg name="checkpoint_path" value="$(env HOME)/rwrc19/checkpoint/$(arg env)_checkpoint.yaml"/>
        <arg name="task_list_path" value="$(env HOME)/rwrc19/task/$(arg env)_task.yaml"/>
    </include>

    <!-- sensor -->
    <node pkg="complement" type="complement" name="complement">
        <param name="dyaw/drift" value="-0.0012"/>
    </node>
    <include file="$(find perfect_velodyne)/launch/normal_estimation.launch"/>
    <include file="$(find velodyne_height_map)/launch/amsl_velodyne_heightmap.launch">
        <arg name="input_topic" value="/perfect_velodyne/normal"/>
    </include>
    <include file="$(find dynamic_cloud_detector)/launch/dynamic_cloud_detector.launch"/>

    <!-- global planner -->
    <include file="$(find dijkstra_global_planner)/launch/global_planner.launch"/>

    <!-- localization -->
    <include file="$(find node_edge_localizer)/launch/node_edge_localizer.launch">
        <arg name="enable_tentative_correction" value="true"/>
    </include>
    <node pkg="odom_gnss_ekf" type="odom_gnss_ekf" name="odom_gnss_ekf" if="$(arg gps)">
        <param name="INIT_X" value="-18.7192398099578"/>
        <param name="INIT_Y" value="1.065049359574914"/>
        <param name="INIT_YAW" value="3.14"/>
        <remap from="/odom/gnss_ekf" to="/observed_position"/>
    </node>

    <!-- localmap -->
    <include file="$(find making_local_map)/launch/making_localmap.launch"/>

    <include file="$(find road_recognizer)/launch/road_recognizer.launch"/>

    <!-- navigator -->
    <include file="$(find node_edge_navigator)/launch/node_edge_navigator.launch">
        <arg name="goal_radius" value="1.0"/>
        <arg name="local_map" value="/local_map/expand"/>
    </include>

    <!-- local planner -->
    <include file="$(find state_lattice_planner)/launch/local_planner.launch">
        <arg name="target_velocity" value="0.8"/>
        <arg name="control_delay" value="20"/>
        <arg name="param_file_name" value="$(find cats)/config/cats_motion_param.yaml"/>
        <arg name="lookup_table_file_name" value="$(find cats)/config/cats_lookup_table.csv"/>
    </include>

    <!-- task -->
    <include file="$(find stop_line_detector)/launch/stop_line_detector.launch"/>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="global_rviz" args="-d $(env HOME)/rwrc19/config/global.rviz"/>
    <node pkg="rviz" type="rviz" name="local_rviz" args="-d $(env HOME)/rwrc19/config/local.rviz"/>

    <!-- param -->
    <rosparam command="load" file="$(env HOME)/rwrc19/param/$(arg env)_param.yaml" />
</launch>
